{% block _card_products_entry_widget %}
    {% if form.vars.value.product == null %}
        <div class="well">
            {{ block('form_row') }}
            <div class="clearfix"></div>
        </div>
        {% else %}
            <div class="col-md-12 text-center"><img src="{{ asset('bundles/app/img/'~form.vars.value.product.img) }}" alt="" /></div>

            {{ block('form_row') }}

    {% endif %}
{% endblock %}

{% block _card_products_entry_product_entry_widget %}
    <div class="col-md-6">
        <div>
            <div class="text-center">
                <h4>
                    {{ label }}
                </h4>
            </div>
            <div class="text-center">
                {% if form.parent.vars.choices[form.vars.value] is defined %}
                    <img src="{{ asset('bundles/app/img/'~form.parent.vars.choices[form.vars.value].data.img) }}" alt="" />
                {% endif %}

                <div>
                    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                    <span class="text-success">SELECTIONNER</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _card_products_entry_product_entry_label '' %}
{% block _card_products_entry_product_label '' %}
{% block _card_products_entry_label '' %}

{% block _card_products_widget %}
    {% set isCollection = true %}
    {% if value|length %}
        {% set entry =  value|first %}
        {% if entry.product is not empty %}
            {% set isCollection = false %}
        {% endif %}
    {% endif %}

    {% if isCollection %}
        {{- form_widget(form) -}}
    {% else %}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{- form_widget(form) -}}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block _app_bundle_date_choice_type_widget %}
    <div class="col-md-12">
        <div class="col-md-6">{{ form_row(form.dateCollect) }}
            {{ form_row(form.hourCollect) }}</div>
        <div class="col-md-6">{{ form_row(form.dateDelivery) }}
            {{ form_row(form.hourDelivery) }}
        </div>
    </div>
{% endblock %}
