<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/app/js/vendor/html5-3.6-respond-1.4.2.min.js')}}"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Togglenavigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Lavemonlinge</a>
            </div>
            {% if user %}
                <div id="navbar" class="navbar-collapse collapse connect">
                    <a href="{{ path('app_logout') }}" >Se déconnecter</a>
                </div>
            {% else %}
                <div id="navbar" class="navbar-collapse collapse connect">
                    <a href="{{ path('app_connexion') }}" >Connexion</a>
                </div>
            {% endif %}
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                {% if app.session.started and app.session.flashBag.peekAll is not empty %}
                    <div class="messages">
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
                                <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    {{ message|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>


        {% block content %}{% endblock %}
        <footer>
            <p>&copy; Company 2015</p>
        </footer>
    </div>
</body>