{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block content %}


    <h2>Ma commande</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Options</th>
            <th>Prix unitaire options</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for basketEntry in basket %}
            <tr>
                <td>{{ basketEntry.product.name }}</td>
                <td>{{ basketEntry.product.price }}</td>
                {% if basketEntry.optionLaundry is null %}
                    <td>1</td>
                    <td>no options</td>
                    <td>no options</td>
                {% else %}
                    <td>{{ basketEntry.quantity }}</td>
                    <td>{{ basketEntry.optionLaundry.label }}</td>
                    <td>{{ basketEntry.optionLaundry.price }}</td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <section class="row">
        <article class="col-md-4">
            <h3>Adresse facturation</h3>
            <address>
                <ul>
                    <li>Toto</li>
                    <li>25 rue de toto</li>
                    <li>58457 Toto</li>
                    <li>TOTO</li>
                </ul>
            </address>
        </article>
        <article class="col-md-4">
            <h3>Adresse livraison</h3>
            <address>
                <ul>
                    <li>Toto</li>
                    <li>25 rue de toto</li>
                    <li>58457 Toto</li>
                    <li>TOTO</li>
                </ul>
            </address>
        </article>
        <article class="col-md-4">
            Total: 45 €
        </article>
    </section>
    <section class="buy row">
        <button class=" btn btn-success">Payer</button>
    </section>
{% endblock %}