{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block content %}
    <div ng-app="MyApp" ng-controller="BasketController">

    <h2>Ma commande</h2>
        <div ng-if="!basket.length">
            Chargement du panier en cours ...
        </div>

        <table class="table" ng-if="basket.length">
            <thead>
            <tr>
                <th>Nom</th>
                <th>prix unitaire HT</th>
                <th>quantité</th>
                <th>Options</th>
                <th>Prix unitaire options</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donnee in basket">
                <td><p ng-bind="donnee.nom"></p></td>
                <td>{[{donnee.prix | currency:'€'}]}</td>
                <td><input type="number" min="0" ng-model="donnee.quantite" class="modifquantite" /></td>
                <td>{[{(donnee.option) ? donnee.option : 'Pas d\'options disponibles'}]} </td>
                <td>{[{(donnee.optionPrice) ? donnee.optionPrice : 'Pas d\'options disponibles'}]} </td>
                <td><button ng-click="delCommand(donnee)">X</button></td>
            </tr>
            </tbody>
        </table>

    <section class="row">
        {% for address in app.user.address %}
            <article class="col-md-3">
                <h3>Adresse de {{ address.type }}</h3>
                <address>
                    <ul>
                        <li>{{ address.streetNumber }} {{ address.street }}</li>
                        <li>{{ address.cp }} {{ address.city }}</li>
                    </ul>
                </address>
            </article>
        {% endfor %}
        <article class="col-md-3">
            Total: {[{getTotalHT() | currency:'€'}]}
        </article>
    </section>
    <section class="buy row">
        <button class=" btn btn-success">Payer</button>
    </section>
    <!--debut angular js -->
        <script src="{{ asset('bundles/app/js/vendor/angular/angular.js') }}"></script>
        <script src="{{ asset('bundles/app/js/vendor/angular-route/angular-route.js') }}"></script>
        <script src="{{ asset('bundles/app/js/vendor/angular-sanitize/angular-sanitize.js') }}"></script>

        <script src="{{ asset('bundles/app/js/vendor/angular-i18n/angular-locale_fr-fr.js') }}"></script>

        <script src="{{ asset('bundles/app/js/angular/app.js') }}"></script>

        <script src="{{ asset('bundles/app/js/angular/Basket/basket.js') }}"></script>
        <script src="{{ asset('bundles/app/js/angular/Basket/Controller/BasketController.js') }}"></script>

        <script src="{{ asset('bundles/app/js/angular/Basket/Service/PanierService.js') }}"></script>
        <script src="{{ asset('bundles/app/js/angular/Basket/Service/TVAService.js') }}"></script>

    </div>
    <!--fin angular js -->
{% endblock %}