{% extends '::base.html.twig' %}

{% block title %}Votre compte{% endblock %}


{% block content %}

    <!-- autocomplete -->
    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyACy7onU8CqMCYELVjWBJhGjiG6Wo_Sths">
    </script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/autocomplete.js') }}"></script>

    <div class="container">

        {% if app.request.attributes.get('_route') == "app_my_account" %}
            <h1>Votre compte</h1>
            <ul>
                <li>E-mail : {{ app.user.email }}</li>
                <li>Mot de passe : <a href="{{ path('app_password_change') }}">Changez votre mot de passe</a></li>
            </ul>
        {% endif %}
        Vos adresses :
        {% if app.user.address is not empty %}
            <ul>
            {% for address in app.user.address %}
                <li> Type : {{ address.type }}<br />Adresse : {{ address.streetNumber }}, {{ address.street }} {{ address.cp }} - {{ address.city }}</li>
            {% endfor %}
            </ul>
            {% else %}
            <p>Aucune adresse renseignée !</p>
        {% endif %}

        <h2>Ajouter une adresse</h2>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        <label>Votre adresse : </label>
        <input id="user_input_autocomplete_address" placeholder="Entrez votre adresse">

        {# génération rapide car ce sont des input de type hidden#}
        {{ form_row(form.streetNumber) }}
        {{ form_row(form.street) }}
        {{ form_row(form.cp) }}
        {{ form_row(form.city) }}

        {# Génération automatique des champs pas encore écrits.
         et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-default">Ajouter</button>
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}

        <button type="button" class ="btn btn-default">Finaliser votre commande</button>

    </div>
{% endblock %}