{% extends '::base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/nav.css') }}" />
{% endblock %}

{% block content %}

    <div class="col-md-offset-4 col-md-4 form">
        <a href="{{ path('app_my_account') }}">Retour à la configuration générale</a>
        <h1>Modifiez votre de mot de passe</h1>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.oldPassword, "Mot de passe actuel :") }}

            {# Affichage des erreurs pour ce champ précis. #}
            {% if form_errors(form.oldPassword) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.oldPassword) }}
                </div>
            {% endif %}

            {# Génération de l'input. #}
            {{ form_widget(form.oldPassword, {'attr': {'placeholder': 'entrez votre mot de passe'}}) }}
        </div>
        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.newPassword, "Nouveau mot de passe :") }}

            {# Affichage des erreurs pour ce champ précis. #}
            {% if form_errors(form.newPassword) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.newPassword) }}
                </div>
            {% endif %}

            {# Génération de l'input. #}
            {{ form_widget(form.newPassword) }}
        </div>
        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.newPasswordConfirm, "Confirmez votre nouveau mot de passe :") }}

            {# Affichage des erreurs pour ce champ précis. #}
            {% if form_errors(form.newPasswordConfirm) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.newPasswordConfirm) }}
                </div>
            {% endif %}

            {# Génération de l'input. #}
            {{ form_widget(form.newPasswordConfirm) }}
        </div>

        {# Génération automatique des champs pas encore écrits.
         Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
         et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-default">Changer le mot de passe</button>
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% endblock %}