{% extends '::base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}


{% block content %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form-signin">
    <h1>Connectez-vous</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération manuelle et éclatée : #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.email, "Email :") }}

        {# Affichage des erreurs pour ce champ précis. #}
            {% if form_errors(form.email) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}

        {# Génération de l'input. #}
        {{ form_widget(form.email, {'attr': {'placeholder': 'entrez votre email' }}) }}
    </div>
    {# Génération manuelle et éclatée : #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.password, "Mot de passe:") }}

        {# Affichage des erreurs pour ce champ précis. #}
        {% if form_errors(form.password) %}
            <div class="alert alert-danger">
                {{ form_errors(form.password) }}
            </div>
        {% endif %}

        {# Génération de l'input. #}
        {{ form_widget(form.password, {'attr': {'placeholder': 'entrez votre mot de passe'}}) }}
    </div>

    {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    <button type="submit" class="btn btn-default">Se connecter</button>
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
    </div>
{% endblock %}