{% extends 'base.html.twig' %}
{% block title %}Lave Mon Linge{% endblock %}

{% block content %}
    <div class="header">
        <section class="container header_down wow fadeInUp">
            <div class="col-md-offset-1 col-md-10">
                <article class="col-md-4">
                    <article class="col-md-3">
                        <img src="{{ asset('bundles/app/img/phone_header.png')}}" alt="">

                    </article>
                    <article class="col-md-9 header_down_presentation">
                        <h3>Facile a utiliser</h3>
                        <p class="header_down_presentation_presentation">Choisissez les dates et les horaires qui vous conviennent</p>
                    </article>
                </article>
                <article class="col-md-4">
                    <article class="col-md-3">
                        <img src="{{ asset('bundles/app/img/shirt_header.png')}}" alt="">

                    </article>
                    <article class="col-md-9 header_down_presentation">
                        <h3 >Service de qualité</h3>
                        <p class="header_down_presentation_presentation">Traitement de vêtements délicats</p>
                    </article>
                </article>
                <article class="col-md-4">
                    <article class="col-md-3">
                        <img src="{{ asset('bundles/app/img/hour_header.png')}}" alt="">

                    </article>
                    <article class="col-md-9 header_down_presentation">
                        <h3>Service rapide</h3>
                        <p class="header_down_presentation_presentation">Livraison express</p>
                    </article>
                </article>
            </div>
        </section>
    </div>
    <section class="container second">
        <h2 class="wow fadeInUp"> Comment ça marche ?</h2>
        <h3 class="wow fadeInUp">Commandez en seulement 3 étapes</h3>
        <section class="row presentation_section">
            <article class="col-md-6 wow fadeInLeft presentation">
                <ul>
                    <li>
                        <p>Choix des vêtements</p>
                    </li>
                    <li>
                        <p>Collecte</p>
                    </li>
                    <li>
                        <p>Linge propre</p>
                    </li>
                </ul>
            </article>
            <article class="col-md-6 wow fadeInRight">
                <figure>
                    <img class="img-responsive" src="{{ asset('bundles/app/img/img.jpg')}}" alt="">
                </figure>
            </article>
        </section>
    </section>
    <section class="third container">
        <h2 class="wow fadeInUp"> Pressing & linge au sac </h2>
        <h3 class="wow fadeInUp">Commandez en seulement 3 étapes</h3>
        <section class="row choices">
            <article class="col-md-6">
                <figure>
                    <img src="{{ asset('bundles/app/img/laverie.png')}}" alt="">
                    <figcaption>
                        <h3>Linge nettoyé et plié</h3>
                        <p>
                            Tarifé au sac, notre service de linge  convient parfaitement pour votre linge quotidien. Vos articles seront lavés ensemble à 30°C, séchés au sèche-linge puis pliés. Chaque sac de linge est tarifé au maximum de 7 kg par sac.
                        </p>
                        <p>
                            1 x Sac de linge (max 7kg) : 15€
                            2eme sac et plus : 10 €
                        </p>
                        <a href="{{ path('app_form_card', {'id':idLaverie }) }}" class="button">Choississez le nombre de sacs</a>
                    </figcaption>
                </figure>
            </article>
            <article class="col-md-6">
                <figure>
                    <img src="{{ asset('bundles/app/img/pressing.png')}}" alt="">
                    <figcaption>
                        <h3>Pressing & Repassage</h3>
                        <p>
                            Tarifé à la pièce, notre service de nettoyage à sec et repassage s'effectue par article. Chaque article est nettoyé à sec, repassé et rendu sur cintre individuellement.
                        </p>
                        <p>
                            Prix du vêtement par unité
                        </p>
                        <a href="{{ path('app_form_card', {'id':idPressing }) }}" class="button">Choississez vos vêtements</a>
                    </figcaption>
                </figure>
            </article>
        </section>
    </section>


{% endblock %}