{% extends 'base.html.twig' %}
{% block title %}Lave Mon Linge{% endblock %}

{% block content %}
    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
<!--
<div class="welcome">
    <section class="container row">
        <h1>Lave Mon Linge</h1>
        <p>Lave mon linge récupère votre linge sale chez vous puis vous le dépose super propre ! </p>
        {% if app.user %}
            <p>Cliquez ci-dessous pour profiter de ce service trop génial !!</p>
            <a href="#choicelaundrypressing"><button class="btn btn-default btn-welcome">Accéder au service</button></a>
        {% else %}
            <p>Incriver-vous dès maintenant pour profiter de ce service trop génial !!</p>
            <a href="{{ path('app_inscription') }}"><button class="btn btn-default btn-welcome">Incrivez-vous</button></a>
            <p>Déjà un compte ? <a href="{{ path('app_connexion') }}">Connectez-vous</a></p>
        {% endif %}
    </section>
    <section class="container row">
        <h2>Comment fonctionne notre service ?</h2>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="logo-welcome"><p><span class="glyphicon glyphicon-pencil"></span></p></div>
            <div>
                <h3>Choix des vetements</h3>
                <p>Renseignez les différents vêtements que vous souhaitez faire nettoyer.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="logo-welcome"><p><span class="glyphicon glyphicon-send"></span></p></div>
            <div>
                <h3>On vient chercher vos vêtements</h3>
                <p>Un transporteur récupère dans l'adresse de votre choix votre linge qui a besoin d'un petit nettoyage ;)</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="logo-welcome"><p><span class="glyphicon glyphicon-log-in"></span></p></div>
            <div>
                <h3>On rapporte vos vêtements </h3>
                <p>un transporteur dépose dans l'adresse de votre choix votre linge propre comme jamais, nettoyé par nos soins.</p>
            </div>
        </div>
    </section>
    <section id="choicelaundrypressing">
        <h2>Pressing ou Laverie</h2>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="logo-choice"><a href="{{ path('app_form_card', {'id':idLaverie }) }}"><img src="{{ asset('bundles/app/img/choices/lavelinge.png') }}" /></a></div>
            <div>
                <h3>Linge Nettoyé & Plié</h3>
                <p>Tarifé au sac, notre service de linge au sac convient parfaitement pour votre linge quotidien.
                    Vos articles seront lavés ensemble à 30°C, séchés au sèche-linge puis pliés. Chaque sac de linge est tarifé au maximum de 7 kg par sac.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="logo-choice"><a href="{{ path('app_form_card', {'id':idPressing}) }}"><img src="{{ asset('bundles/app/img/choices/pressing.png') }}" /></a></div>
            <div>
                <h3>Pressing & Repassage</h3>
                <p>Tarifé à la pièce, notre service de nettoyage à sec et repassage s'effectue par article.
                    Chaque article est nettoyé à sec, repassé et rendu sur cintre individuellement.</p>
            </div>
        </div>
    </section>
</div>-->
{% endblock %}