{% extends 'base.html.twig' %}

{%  block title %} Mes dates {%  endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/nav.css') }}" />
{% endblock %}

{% block content %}
    <section class="container p150">

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <div class="text-right">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Choisir ses adresses</button>
    </div>

    {{ form_end(form) }}
    </section>
{% endblock %}